streamlit==1.32.0
streamlit-authenticator==0.3.1
streamlit_oauth==0.1.8
gspread==5.12.4
duckdb==0.10.0
pandas==1.5.3
cryptography~=3.4
cffi==1.16.0
wheel==0.37.1
setuptools==59.6.0
sql_metadata==2.10.0
pytz==2022.1
plotly==5.20.0
google-cloud-storage==2.16.0
psycopg2==2.9.9
