global
  log         127.0.0.1 local2
  chroot      /var/lib/haproxy
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  user        haproxy
  group       haproxy
  daemon
  stats socket /var/lib/haproxy/stats

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
  timeout connect 5s
  timeout client  100s
  timeout server  100s
	timeout check 5s

frontend web:80
	bind :80
  bind :::80
	mode http
  acl is_letsencrypt path_beg /.well-known/acme-challenge/
  use_backend letsencrypt if is_letsencrypt
  default_backend haproxy_backend 


frontend web:443
	bind :443 ssl crt /etc/ssl/certs
  bind :::443 ssl crt /etc/ssl/cert
	mode http
  http-request redirect scheme https unless { ssl_fc }
  http-request set-header X-Forwarded-For %[src]
	option http-server-close
  redirect scheme https code 301 if !{ ssl_fc }
  http-response set-header Strict-Transport-Security max-age=63072000
  acl is_budget hdr(host) -i budget.ikeniborn.ru
  use_backend budget_backend if is_budget
  # acl is_portfolio hdr(host) -i portfolio.ikeniborn.ru
  # use_backend portfolio_backend if is_portfolio
  acl is_letsencrypt path_beg /.well-known/acme-challenge/
  use_backend letsencrypt_backend if is_letsencrypt
  default_backend haproxy_backend 

backend letsencrypt_backend
  server letsencrypt 127.0.0.1:8899

backend haproxy_backend
  description "HaProxy"
  mode http
  log global
  stats enable
  stats uri /
  stats refresh 30s
  stats show-legends
  stats auth admin:f5p6PjDwAamE3Sd9ViNn
  stats admin if TRUE
	
backend budget_backend
  description "Budget"
  balance roundrobin
  mode http
  option forwardfor
  server budget 10.5.0.4:8501 maxconn 10 check inter 1s

# backend portfolio_backend
#   description "Portfolio"
#   balance roundrobin
#   mode http
#   option forwardfor
#   option httpchk GET /health HTTP/1.1
#   http-check expect status 200	
#   server portfolio 10.5.0.4:8502 maxconn 10 check inter 1s


