streamlit
# streamlit-authenticator
# streamlit_oauth==0.1.8
# gspread==5.12.4
# duckdb==0.10.0
# pandas
# cryptography~=3.4
# cffi==1.16.0
# wheel==0.37.1
# setuptools==59.6.0
# sql_metadata==2.10.0
# pytz
plotly
# google-cloud-storage==2.16.0
# psycopg2==2.9.9
# streamlit-on-Hover-tabs==1.0.1
# streamlit_pills==0.3.0
# google-auth-httplib2
# google-auth
# streamlit-telegram-login
# google-auth-oauthlib
requests
# pydantic
# pyyaml
# hydralit_components
# polars
polars-lts-cpu
# nicegui
# fastapi-users
fastapi
# joserfc
# urllib3
# typing
# streamlit
# pandas
pytz
# hashlib
# uuid
# secrets
# starlette
# dataclasses
# enum
